
*{
  padding: 0;
  margin: 0;
  background-color: rgb(28, 58, 58);
  
  
}

form{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: rgb(111,255,0);
background: linear-gradient(32deg, rgba(111,255,0,1) 0%, rgba(43,184,56,0.8168103448275862) 55%, rgba(4,255,177,1) 100%);
}
input{
  margin: 20px;
  font-size: 20px;
  border: 0;
  color: rgb(26, 36, 37);
  background-color: #cae68a;
  border-radius: 10px;
  text-align: center;
  width: min-content;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
button{
  color: rgb(255, 255, 255);
  margin: 20px;
  font-size: 15px;
  font-weight: 700;
  width: 70px;
  padding: 5px;
  border: 0;
  background-color:#0b95f6;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  
}
p{
  background: rgb(230,0,255);
  background: linear-gradient(90deg, rgba(230,0,255,1) 0%, rgba(124,43,184,1) 57%, rgba(4,67,255,1) 100%);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
  
}

p h2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  padding-top: 5px;
  padding: 2px;
  background-color: transparent;
  color: aliceblue;
  font-size: 20px;
  
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: capitalize;
  
}